.menuButton {
    border: 1px solid white;
    padding: 12px;
    border-radius: 8px;
    text-align: center;
    font-family: monospace;
    transition: 0.2s;
}


.menuButton:hover {
    background: white;
    color: black;
}